* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #15c99c;
    --light-grey: #f7f7f7;
    --dark: #0e0c0c;
    --trans: all 0.3s ease-in-out;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background: transparent;
    padding: 1rem 0;
    z-index: 999;
}

.navbar .container {
    justify-content: space-between;
}

.brand {
    color: #fff;
    font-size: 2.4rem;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    opacity: 0.95;
}

.brand span {
    font-weight: 300;
}

#navbar-show-btn {
    background: transparent;
    color: #fff;
    font-size: 2rem;
    opacity: 0.9;
    border: none;
    transition: var(--trans);
}

#navbar-show-btn:hover {
    opacity: 1;
}

#navbar-collapse {
    background: var(--green);
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 2rem;
    /*transform: translateX(100%);*/
    transition: var(--trans);
}
.navbar-collapse-rmw{
    transform: translateX(0) !important;
}
#navbar-close-btn{
    background: none;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 0.2rem;
    font-size: 2rem;
    transition: var(--trans);
    position: absolute;
    top: 2rem;
    right: 1rem;
    border: none;
}
#navbar-close-btn:hover{
    background: #fff;
    color: var(--green);
}
.navbar-nav{
    margin-top: 5rem;
}
.navbar-nav .nav-item{
    margin: 1.6rem 0;
}
.nav-link{
    color: #fff;
    font-size: 1.2rem;
    transition: var(--trans);
}
.nav-link:hover{
    opacity: 0.8;
}